<form>
    <label for="routerName">Router Name:</label>    
    <input type="text" id="routerName" name="router_name" required placeholder="Enter Router Name"/>
    
    <br/>
    <label for="routerIPAddress">Router IP Address:</label>
    <input type="text" id="routerIPAddress" name="router_ipaddress" required placeholder="Enter Router IP Address"/>
    
    <br/>
    <label for="routerTechnology">Router Technology:</label>
    <select id="routerTechnology" name="router_technology" required>
            <option value="" disabled selected>Select a technology</option>
            <option value="HUAWEI" >Huawei</option>
            <option value="CISCO">Cisco</option>
            <option value="NOKIA">Nokia</option>
            <option value="ZTE">ZTE</option>
    </select>
    <br/>
    <select id="routerTechnology" name="netconf_connection" required>
        <option value="" disabled selected>Select a technology</option>
        <option value="junos" >Juniper</option>
        <option value="csr">Cisco CSR</option>
        <option value="nexus">Nexus</option>
        <option value="iosxe">IOS XE</option>
        <option value="iosxr">IOS XR</option>
        <option value="alu">Nokia</option>
        <option value="huaweiyang">Huawei</option>
        <option value="default">Any Thing</option>
    </select>
    <br/>
    <button onclick="close_diag()" hx-target="#router-info" hx-post="/add-router_info">add</button>
</form>